<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokemon App</title>
</head>
<body>
    <h1>Pokemon Edit page</h1>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        id: <%=data.id %><br />
        name: <input type="text" name="name" value="<%=data.name %>" /> <br />
        type: <input type="text" name="type" value="<%=data.type %>" /> <br /> 

        <br>
        <input type="submit" value="Submit Changes" />
    </form>
</body>
</html>