<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Pokemon</title>
</head>
<body>
    <h1>Let's be Creeative!</h1>
    <form action="/pokemon" method="POST">
        id: <input type="text" placeholder="id" /> <br />
        name: <input type="text" name="name" placeholder="name" /> <br />
        type: <input type="text" name="type" placeholder="type" /> <br /> 
        <input type="submit" value="Create New Pokemon" />
    </form>
</body>
</html>